<h1 id="tableLabel">Instalators</h1>

<p>This component demonstrates fetching instalators from the server.</p>

<p *ngIf="!instalators"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="instalators">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>PhoneNumber</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instalor of instalator">
      <td>{{ instalator.id }}</td>
      <td>{{ instalator.name }}</td>
      <td>{{ instalator.phonenumber }}</td>
      <td>{{ instalator.email }}</td>
    </tr>
  </tbody>
</table>
